@import url('http://fonts.googleapis.com/css?family=Lato:400,700');
html{
  width:100%;
}
body{
  margin: 0px;
  height: 400px;
  width: 280px;
  font-family: 'Lato', sans-serif;
  background: #353535;

  .header {
    width: 280px;
    height: 50px;
    margin: 0px;
    background-color: aqua;
    padding: 12px 0px;

    h1 {
      font-family: 'Lato', sans-serif;
      font-size: 28px;
      opacity: 0.9;
      margin: 0px 4px 0px 4px;
      font-weight: 500;
    }

    .subtitle {
      margin: 0px 4px;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 14px;
    }

    input, #priceperwordInput {
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .contentBox {
    width: 280px;
    height: 310px;

    .resalted {
      background-color: rgba(176, 255, 139, 0.7);
      text-decoration: underline;
    }

    .no-tf-dtctd {
      margin: 0 10px;
      text-align: center;
      font-size: 14px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      a {
        text-align: right;
      }
      .instructions {
        margin: 0px 4px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        color: white
      }
      a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
      }
      a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 150%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
      }
      a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
      }
      a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 450%;
      }
      a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size:14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
      }

      a.animated-button.thar-four {
        color: #fff;
        cursor: pointer;
        display: block;
        position: relative;
        border: 2px solid aqua;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
      }
      a.animated-button.thar-four:hover {
        color: #000 !important;
        background-color: transparent;
        text-shadow: nfour;
      }
      a.animated-button.thar-four:hover:before {
        right: 0%;
        left: auto;
        width: 100%;
      }
      a.animated-button.thar-four:before {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        content: '';
        color: rgb(141, 135, 135) !important;
        background: aqua;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
      }
    }
  }
}
